.timeline-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.slider-container {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  padding: 10px;
  width: 100%;
}

.event-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  min-width: 100px;
}

.event-icon img {
  width: 50px;
  height: 50px;
}

.event-date {
  font-size: 12px;
  text-align: center;
}

.event-details {
  margin-top: 20px;
  width: 100%;
  display: none; /* Hidden by default */
}

.event-plots img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}


.plot {
  flex: 1;
  height: 300px;
}

.slider-container::-webkit-scrollbar {
  height: 8px;
}
.slider-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

