---
layout: base
---
{% include header.html type="page" %}

<div class="hero-section">
  <div class="video-background">
    <video autoplay muted loop id="heroVideo">
      <source src="/assets/video/IntroVideo.mp4" type="video/mp4">
      Your browser does not support HTML5 video.
    </video>
  </div>
  <div class="hero-content">
    <h1 class="main-title">{{ page.title{ color: red}  }}</h1>
    {% if page.subtitle %}
      <p class="main-subtitle">{{ page.subtitle }}</p>
    {% endif %}
  </div>
</div>

<main class="{% if page.full-width %} container-fluid {% else %} container-md {% endif %}">
  <div class="row">
    <div class="{% if page.full-width %} col {% else %} col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 {% endif %}">
      {% if page.before-content %}
        <div class="before-content">
          {% for file in page.before-content %}
            {% include {{ file }} %}
          {% endfor %}
        </div>
      {% endif %}
      {{ content }}
      {% if page.after-content %}
        <div class="after-content">
          {% for file in page.after-content %}
            {% include {{ file }} %}
          {% endfor %}
        </div>
      {% endif %}
      {% include comments.html %}
    </div>
  </div>
</main>

