---
layout: base
---
{% include header.html type="page" %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap" rel="stylesheet">

<div class="hero-section" id="hero">
  <div class="video-background">
    <video autoplay muted loop playsinline id="heroVideo">   <!--autoplay muted loop id="heroVideo">-->
      <source src="/assets/video/IntroVideo.mp4" type="video/mp4">
      
    </video>
     <!--<audio id="heroAudio" preload="auto">-->
          <!--<source src="/assets/audio/audio-intro.mp3" type="audio/mp3">-->
        <!--</audio>-->
  </div>
  <div class="rain"></div>
  <div class="hero-content">
    <h1 class="matrix-title" data-text="{{ page.title }}">{{ page.title }}</h1>
    {% if page.subtitle %}
      <p class="matrix-subtitle" data-text="{{ page.subtitle }}">{{ page.subtitle }}</p>
    {% endif %}
  </div>
</div>

<main class="container-md">
  <div class="row">
    <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
      {{ content }}
    </div>
    </div>
</main>

